<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin Dashboard</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="./static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./static/css/bootstrap.css" rel="stylesheet" />
        <link href="./static/css/dashboard.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      
  <style>
    table, th, td {
              border:1px solid rgb(241, 235, 235);
              text-align: center;            

            }
            th{
              /* background-color: #234027; */
              color:white;
              text-align: center;
			  min-width:100px;
              
            }

            .divScroll {
              padding-left:1% ;
			/*overflow:scroll;*/
			width: 1200px;
			  height: 600px;
			}


             .bg-darkblue {
				 background-color: #3459E9 !important;
				 opacity: 1!important;
			 }

             .border-darkblue {
				 border-color: #3459E9 !important;
			 }
			 
            .fs-7 {
            font-size: 0.75rem !important;
            }

            .fs-8 {
            font-size: 0.55rem !important;
            }
</style>


  <!-- Theme style -->
  <link rel="stylesheet" href="./static/dist/css/adminlte.min.css">
  
  
  
  <!-- DataTables -->
  <link rel="stylesheet" href="./static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="./static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="./static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">



    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper" >
                <div class="sidebar-heading text-break border-bottom bg-light text-center">
                    <a href="attdashboard"><img src="./static/images/logo.png" alt="logo" class="img-fluid" style="max-width: 12rem; height: 4rem;"></a>
                </div>
                <div class="list-group list-group-flush text-start" style="font-size:13px;height:700px;overflow:scroll;overflow-x: hidden;">
                  
                  
                  <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-primary text-white p-3" href="adminhome" style="color:black;"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="asubjects" style="color:black;"><i class="fa fa-th" aria-hidden="true"></i> Subjects</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="aelectives" style="color:black;"><i class="fa fa-th" aria-hidden="true"></i> Electives</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="abacklogs" style="color:black;"><i class="fa fa-th" aria-hidden="true"></i> Backlogs</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="aadminaddstu" style="color:black;"><i class="fa fa-th" aria-hidden="true"></i> Add Students</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="aaddrounds" style="color:black;"><i class="fa fa-th" aria-hidden="true"></i> Add Rounds</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="aadminaddhod" style="color:black;"><i class="fa fa-th" aria-hidden="true"></i> Add HOD</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="login" style="color:black;"><i class="fa fa-bookmark" aria-hidden="true"></i> Logout</a>               
                    
	               
              </div>
                       
            </div>
            <!-- Page content wrapper-->
            <div class="col-lg-10 col-xs-12">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-light shadow-none btn-sm" id="sidebarToggle">
                             <span class="navbar-toggler-icon"></span>
                        </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                              
                                <li class="nav-item text-center">
                                  <a class="nav-link bg-danger" aria-current="page" href="login">
                                      <i class="fas fa-sign-out-alt text-white"></i>
                                  </a>
                                </li>
                              </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h4 class="my-4">Dashboard</h4>
                    <section class="content">
                      
                        <div class="container-fluid">
                          <!-- Small boxes (Stat box) -->
                          <div class="row">
                            <div class="col-lg-4 col-6">
                              <!-- small box -->
                              <div class="small-box bg-info">
                                <div class="inner">
                                  <h3>{{tile1data}}</h3>
                  
                                  <p>Students</p>
                                </div>
                                <div class="icon">
                                  <i class="ion ion-person-add"></i>
                                </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-4 col-6">
                              <!-- small box -->
                              <div class="small-box bg-success">
                                <div class="inner">
                                  <h3>{{tile2data}}</h3>
                  
                                  <p>Electives</p>
                                </div>
                                <div class="icon">
                                  <i class="ion ion-person-add"></i>
                                </div>
                               </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-4 col-6">
                              <!-- small box -->
                              <div class="small-box bg-warning">
                                <div class="inner">
                                  <h3>{{tile3data}}</h3>
                  
                                  <p>Mentors</p>
                                </div>
                                <div class="icon">
                                  <i class="ion ion-person-add"></i>
                                </div>
                                 </div>
                            </div>
                            <!-- ./col -->
                          </div>
                          <!-- /.row -->
                          <!-- Main row -->
                          <div class="row">
                            <!-- Left col -->
                            <!-- /.Left col -->
                          </div>
                          <!-- /.row (main row) -->
                        </div><!-- /.container-fluid -->
                      </section>
                </div>
            </div>
        </div>
		

<script src="./static/masterrestapi.js"></script>
        <!-- Bootstrap core JS-->
        <script src="./static/js/bootstrap.js"></script>
        <!-- Core theme JS-->
        <script src="./static/js/dashboard.js"></script>
	
    </body>
</html>
