<!DOCTYPE html>
<html>
<head>
<title>Login Form </title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Course Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- js -->
<!-- //js -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- //web-fonts --> 
</head>
<body>
	<!-- banner --> 
<div class="video"> 
	<div class="center-container" style="margin-top:100px;">
	    <div class="w3ls-agileinfo">
			<h1 > Login </h1>	
		</div>
		 <div class="bg-agile">
			<h2> </h2>
			<div class="login-form">	
				
					<input type="text"  id="name" name="name" placeholder="Email"  />
					<input type="password" id="passwrd" name="passwrd" placeholder="Password"  />
					
					<input id="btn_login" type="submit" value="Login" >
				
			</div>	
		</div>
	<!-- //banner --> 
	 
	</div>	
</div>

<script src="{{ url_for('static', filename='restapi.js') }}"></script>
 </body>
</html>